<div class="header bg-dark">
    <div class="row">
        <div class="brand my-1">
            <h2>estore</h2>
        </div>
        <!-- p-0 is means padding is zero and setting top and bottom margin to space 1.5 -->
        <div class="p-0 my-4 w-50 h-25 bg-white">
            <select class="dropdown p-0 m-o">
                <option>MEN</option>
                <option>WOMEN</option>
                <option>KIDS</option>

            </select>
            <input  class="form-control search-text" placeholder="search...">
            <button class="search-buttom"><span class="material-icons">
                    search
                </span></button>
        </div>
<!-- login link and wish list and add cart -->
<div class="login-container p-0">
    <div class="d-flex justify-content-end align-items-center">
      <a href="/login" class="btn btn-link">
        <i class="material-icons">login</i> Login
      </a>
      <a href="/wishlist" class="btn btn-link">
        <i class="material-icons">favorite_border</i> Wishlist
      </a>
      <a href="/cart" class="btn btn-link">
        <i class="material-icons">shopping_cart</i> Cart
      </a>
    </div>
  </div>
  

    </div>
</div>