.navigation-car {
    max-width: 100%;
    background-color: black;
    border-top: 1px solid black;
  
    li {
      list-style-type: none;
      display: inline-block;
      margin: 0.2em 1em;
      padding: 0.4em;
      height: 2.5em;
  
      a {
        text-decoration: none;
        color: white;
        height: 1.8em;
        font-size: 0.9em;
        font-weight: 700px;
        position: relative; // Required for positioning the pseudo-element
  
        &::after {
          content: '';
          display: block;
          position: absolute; // Ensure it's positioned relative to the anchor
          bottom: -2px; // Adjust as needed
          left: 0;
          height: 0.2em;
          width: 100%; // Full width of the link
          background-color: red;
          transform: scaleX(0);
          transform-origin: bottom right;
          transition: transform 0.2s ease-out;
        }
  
        &:hover::after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }
    }
  }
  